/*****************************
      RESET
****************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  background-color: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img{
	border:none;
}

/***********************
       GLOBAL 
*************************/
*,
*::before,
*::after{
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

a{
  text-decoration: none;
  color: #666666;
  letter-spacing:1px;

}

a:hover, a:active , a:focus{
  text-decoration: none;
  outline:none;
  color: #f4511e;
  
}

.btn:focus,.btn:active:focus{
  outline: 0;
}

/******************************
           BASE
*****************************/
body{
  color: #666666;
  background-color: #fff;
  font-family:"Open Sans",sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

nav{
  text-align: center;
}

.container{
  margin-top: 25px;
  margin-bottom: 25px;
  box-sizing:border-box;
}

.jumbotron{/*
  margin-top: 55px;*/
}

footer{
  margin: 15px 0;
}

/**************************************
      BASE [MEDIA QUERIES]
**************************************/
@media all and (min-width: 600px)
{
  .container{
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

@media all and (min-width: 768px)
{
  .container{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/**********************************
              FONTS
*************************************/
em{
  font-style: italic;
  font-size: 12px;
}

h1.headline{
  font-size:16px ;
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color:#3e4952;
}

body{
  letter-spacing: 0;
  font-size: 16px;
}


/*****************************
      MAIN TOP NAVIGATION
****************************/

.navbar{
  background-color:rgba(245,98,52,0.99);
  border:0;
  border-radius:0;
  display: block;
}

.container#top-nav{
  margin:5px 0;
}
.navbar-header{
  display: inline-block;
}

.navbar-header span.site-name{
  font-size: 16px;
  color: #000;
  letter-spacing: 4px;
}

img#main-logo{
  height:50px;
  margin-right:15px;
  display:inline-block;
  margin-top:-32px;
  margin-bottom:-22px; 
}

.navbar-nav li{
  margin:0;
  padding:0;
}
.navbar-nav a#creatEvent,
.navbar-nav li a#creatEvent:visited{
  color:#fff !important;
  background-color:rgba(245,98,52,0.99) !important;
  padding: 5px 0;
  font-weight:600;
  letter-spacing:4px;
  box-shadow: 0;
  box-shadow: 0 0 0 1px #fff;
  border:0;
  margin:0 15px;
  outline:0;
  transition:all 0.3s linear;
}

.navbar-nav li a#creatEvent:hover,
.navbar-nav li a#creatEvent:active{
    color: #f4511e !important;
    background-color: #fff !important;
}


/***************************************************
                MEDIA QUERIES
***************************************************/
@media screen and (min-width:414px){

  /********MAIN TOP NAVIGATION********/
  .navbar-header{
    float:left;
  }
  .navbar-nav{
    float: right;
  }
  .navbar-nav li a#creatEvent ,
  .navbar-nav li a#creatEvent:link{
    padding:5px;
  } 

}

@media screen and (min-width:600px){

  /**********FONTS***********/
  h1.headline{
    font-size: 20px;
    letter-spacing:4px;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  body{
    letter-spacing:1px;
    font-size: 15px;
  }

  /********MAIN TOP NAVIGATION*********/
  .navbar-default{
    position: fixed;
    display: block;
    margin: 0 auto;
    width: 100%;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;
    border:0;
    background-color:rgba(245,98,52,0.94);
  }
  .navbar-nav li a#creatEvent,
  .navbar-nav li a#creatEvent:link{
    padding: 10px;
  }

}

@media screen and (min-width: 768px){

  /**********FONTS***************/
  h1.headline{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
  }

  /********MAIN TOP NAVIGATION*********/
  .container#top-nav{
    margin:15px auto;
  }
  .navbar-header span.site-name{
    font-size: 24px;
    letter-spacing: 6px;
  }
  .navbar-nav li a#creatEvent,
  .navbar-nav li a#creatEvent:link{
    padding: 15px;
    box-shadow: 0 0 0 2px #fff;
  }
}

@media screen and (min-width:1260px){

  /********MAIN TOP NAVIGATION*********/
 .navbar-default{
    top:20px;
    max-width:1200px;
    transition: 0.4s linear;
  /*  background-color: transparent;*/
  }
 header.smaller .navbar-default{
    top:0;
    max-width: 100%;
    background-color:rgba(245,98,52,0.95);
 }
}

  