/*****************************
      RESET
****************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  background-color: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img{
	border:none;
}

/***********************
       GLOBAL 
*************************/
*,
*::before,
*::after{
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

a{
  text-decoration: none;

}

a:hover, a:active , a:focus{
  text-decoration: none;
  outline:none;
}

.btn:focus,.btn:active:focus{
  outline: 0;
}

/******************************
           BASE
*****************************/
body{
  color: #000;
  background-color: #fff;
  font-family:"Open Sans",sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}


/**********************************
              FONTS
*************************************/
em{
  font-style: italic;
  font-size: 12px;
}

@font-face{
  font-family: firstFont;
  src:url(LeagueGothic-Regular.otf);
}

h2{
  font-family: firstFont;
  font-size: 24px;
}

/**********************
HEADER SECTION
**********************/

#logo-box{
  text-align: center;
  margin-top:35px; 
}

img#main-logo{
  height: 50px;
  display:block;
  margin: 0 auto;
  margin-bottom: 20px;
}
span#site-name{
  font-size:18px;
  color:#000 ;
  letter-spacing: 10px;
}

/*****************************
  FOOTER SECTION
*******************************/

ul.social-icon li{
  margin:0 10px;
  display: inline-block;
}

ul.social-icon img{
  width: 32px;
  height: 32px;
  display: block;
}

.footnote{
  padding:35px 0;
}


/***************************************************
                MEDIA QUERIES
***************************************************/

@media screen and (min-width: 768px){

  h1{
    letter-spacing: 2px;
  }
  h2{
    font-size: 30px;
  }
  /******************
  HEADER SECTION
  **********************/
  img#main-logo{
    height: 60px;
    margin-bottom: 25px;
  }
  span#site-name{
    font-size:22px;
  }

  /*****************************
  FOOTER SECTION
  *******************************/
  ul.social-icon img{
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width:1260px){

 
}


/*
@media screen and (min-width:414px){

 }

@media screen and (min-width:600px){

}
@media screen and (min-width: 768px){
}

@media screen and (min-width:1260px){

 
}

  
