/******************************************
		HEADER VIDEO
*******************************************/
#bg-1{
	position: relative;
	overflow: hidden;
	height:180px;
	background-image:url('image/confetti.png');
	margin:-20px 0 25px 0;
	background-size:cover;
	
}

#hero_video{
	display: none;
	position: absolute;
	width: 600px;
	height: auto;
	top:50%;
	left:50%;
	z-index: 1;
	transform: translate(-50%,-50%);
}

#bg-2{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	text-align: center;
	padding: 15px 0;
	color: #fff;	
}

#bg-2 h1{
	font-size:16px;
}

#bg-2 p{
	font-size:12px;
}

ul#apps-list a{
	color: #fff;
	text-shadow: 0 0 0 1px #fff;
	font-size:12px;
}
@media all and (min-width: 600px){
	#bg-1{
		height: 480px;
		background-image: none;
		margin:0 0 35px 0;
	}
	#hero_video{
		width: 1024px;
		display: block;
	}
	#bg-2{
		padding: 130px 0;
		letter-spacing: 3px;
		line-height: 25px;
	}
	#bg-2 h1{
		font-size:34px;
		margin-bottom: 15px;
	}
	#bg-2 p{
		font-size:16px;
	}
	ul#apps-list a{
		font-size:22px;
	}
}

@media all and (min-width: 1024px){
	#bg-1{
		height: 700px;
		margin:0 0 35px 0;
	}
	#hero_video{
		width: 100%;
	}
	#bg-2{
		padding: 250px 0;
	}
}

/******************************************
			MAIN EVENT CAROUSEL
********************************************/

.outer_container{
	visibility: hidden; 
	position: relative; 
	margin: 0 auto;
    top: 0px; 
    left: 0px; 
    width: 1300px; 
    height: 500px; 
    overflow: hidden;
}
.inner_container{
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 1300px; 
	height: 500px; 
	overflow: hidden;
}
.jssorb21 {
    position: absolute;
}

 /*BULLET NAVIGATION*/
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
*/
.jssorb21 div,.jssorb21 .av{
	 position: absolute;
	 width: 19px;
	 height: 19px;
	 text-align: center;
	 line-height: 19px;
	 color: white;
	 font-size: 12px;
	 background: url(img/b21.png) no-repeat;
	 overflow: hidden;
	 cursor: pointer;
 }

.jssorb21 div { 
	background-position: -5px -5px; 
}
.jssorb21 div:hover, .jssorb21 .av:hover { 
	background-position: -35px -5px;
}
.jssorb21 .av { 
	background-position: -65px -5px; 
}              

/*ARROW NAVIGATION*/
    
.jssora21l, .jssora21r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url(img/a21.png) center center no-repeat;
	overflow: hidden;
}
.jssora21l { 
	background-position: -3px -33px;
}
.jssora21r { 
	background-position: -63px -33px; 
}
           
/***************************
		MODAL- CREAT EVENT
****************************/

.modal-open[style] {
   padding-right: 0px !important;
}

.modal-header{
	background-color: #f4511e;
	text-align: center;
}

.modal-header h2{
	font-size: 12px;
	color: #fff;
	letter-spacing: 4px;
}
.close{
	font-size: 20px;
}

.nav-tabs{
	margin-bottom: 15px;
}

.nav-tabs li.active{
	font-weight: bold;
}

.modal-content{
	border-radius: 0;
}

/***************************
		COMPANY INTRO
****************************/
/*
.jumbotron{
	background-color: transparent;
	line-height: 25px;
}

.bg-2 h1{
	font-size:24px;
}

.bg-2 p{
	font-size:14px;
}

.bg-2 br{
	display: none;
}

@media screen and (min-width:768px)
{	

	
	.bg-2 h1{
		font-size:34px;
		margin-bottom: 15px;
	}
	.bg-2 p{
		font-size:16px;
	}
	.bg-2 br{
		display:block;
	}

	.jumbotron{
		background-image:url('image/parallex-image-2.svg');
	}

/*****************************
		SEARCH BOX
*****************************/

.container .bg-3{
	margin-top:15px;
	margin-bottom:15px;
}

.bg-3 h3{
		margin-bottom:5px;
}

.bg-3{
	box-shadow: 2px 3px 8px 1px #4682B4 ;
	border:1px solid #d3d3d3;
	padding:20px 10px;
}


.btn-primary{
	width: 100%;
	margin-top: 5px;
}

/********************************
		TRENDING EVENTS
********************************/
.col-xs-6 .col-sm-6 .col-md-7 .col-xxs-12{
	padding: 0;
	margin: 0;
}
.content{
	margin-bottom:30px;
}
.content img{
	display: block;
	margin: 0 auto;
}

.content .caption{
	
}

@media(max-width:479px){
	.col-xxs-12{
		position: relative;
		min-height: 1px;
		float: left;
		padding-right: 5px;
		padding-left: 5px;
		width: 100%;
	}
}

/********************************
		CATEGORY
********************************/

.col-sm-4{
	box-sizing:border-box;
	border:1px solid #d3d3d3;
	border-bottom:0;
	margin:0 10px;
	padding: 2px 0;
}

.col-sm-4.col-sm-last{
	border-bottom:1px solid #d3d3d3;
}

.frame{
	position: relative;
	width: 140px;
	display:block;
	margin:0 auto;
}

.frame-img{
	width: 50px;
	height:50px;
	display:block;
}

.frame h2{
	position: absolute;
	display: inline;
	top:40%;
	font-size: 14px;
	font-weight:500;
	margin-left: 5px;
	transition: 0.3s linear;
}

.col-sm-4.hoverEffect:hover .frame h2{
	letter-spacing: 2px;
	font-weight:600;
}

/************************
	CONTACT US
************************/

textarea{
	margin-bottom: 10px; 
}

input[type],textarea[type]{
	border-radius: 0;
	font-size: 12px;
}

.btn-primary{
	border-radius: 0;
}

ul.contact{
	margin-bottom: 25px;
}

.contact li{
	display: inline;
	margin:0 10px 0 0;
}

/********************************************
			SOCIAL MEDIA
********************************************/

.heart{
  display:inline-block;
  width: 18px;
  margin:0 2px;
  animation: pulse 1.2s ease infinite;

}
@keyframes pulse{
	0%{transform: scale(1); fill:#ff0065	;}
	50%{transform: scale(1.2);fill:	#ff0000 ;} 
	100%{transform:scale(1);fill:#ff00a9 ;}
}

ul.social-icon li{
	margin:0;
	display: inline-block;
}

ul.social-icon img{
	width: 32px;
	height: 32px;
	display: block;
}

/***************************************************
                MEDIA QUERIES
***************************************************/

@media screen and (min-width:600px)
{
	/*********MODAL ***********/
	.modal-header, .modal-body{
		padding: 25px 45px;
	}
	.nav-tabs{
		margin-bottom: 25px;
	}
	.modal-header h2{
		font-size: 16px;
	}
	.close{
		font-size: 26px;
	}


	/*********CATEGORY*********/
	.col-sm-4{
		margin:0 25px;
	}
	.frame-img{
		width: 65px;
		height:65px;
	}
	.frame h2{
		margin-left: 35px;
	}

	/********SOCIAL MEDIA*********/
	ul.social-icon img{
		width: 40px;
		height: 40px;
	}
	ul.social-icon li{
		margin:0 20px;
	}
	/*******CONTACT US **********/
	input[type],textarea[type]{
		font-size: 16px;
	}
}

@media screen and (min-width:768px)
{	

	

	/********SEARCH BOX*********/
	.container .bg-3{
		margin-top:50px;
		margin-bottom: 50px;
	}
	.bg-3 h3{
		margin-bottom: 15px;
	}
	.btn-primary{
		width: 80px;
		margin: 0;
	}

	/**********CATEGORY***********/
	.col-sm-4{
		margin:25px 0;
		border:none;
	}	

	.col-sm-4.col-sm-last{
		border-bottom:none;
	}

	.col-sm-4.col-sm-first{
		margin-top:-5px;
	}

	.frame{
		width: 150px;
		height: 150px;
	}

	.frame-img{
		position: absolute;
		top: 0;
		left:0;
		bottom: 0;
		right:0;
		width: 85px;
		height:85px;
		margin:auto;
		transition: 0.8s;
	}

	.frame h2{
		font-size: 18px;
		position:static;
		margin: 0;
	}

	.frame:after{
		position: absolute;
		display: inline-block;
		content: "";
		width:150px;
		height:150px;
		left:0;
		bottom: 0;
		right:0;
		top:0; 
		margin:auto;
		border-radius:100%;
		opacity: 0;
		border-radius: 100%;
	}

	.col-sm-4.hoverEffect:hover .frame-img{
		transform: scale(1.1);
	}

	.col-sm-4.hoverEffect:hover .frame:after{
		animation: rippleEffect 1.2s ease-out 75ms;
	}

	.col-sm-4.hoverEffect:hover .frame h2{
		font-size: 20px;
		transform: scale(1.1);
		font-weight: 500;

	}

	@keyframes rippleEffect {

		0% {
			opacity: 0.8;
		}
		40% {
			opacity: 0.5;
			box-shadow: 0 0 0 2px rgba(244,81,30,0.8), 0 0 10px 10px #fff, 0 0 0 10px rgba(244,81,30,0.5);
		}
		100% {
			box-shadow: 0 0 0 2px rgba(244,81,30,0.8), 0 0 10px 10px #fff, 0 0 0 10px rgba(244,81,30,0.5);
			transform: scale(1.25);
			opacity: 0;
		}
	}

	/*********SOCIAL MEDIA*********/
	ul.social-icon li{
		margin:0 20px;
	}
	ul.social-icon img{
		width: 50px;
		height: 50px;
	}
	.heart{
		width: 24px;
		margin:0 30px;
	}

}

@media screen and (min-width:992px){

	/********TRENDING EVENTS ************//*
	.fluid-container.bg-4{
		margin-right: 105px;
		margin-left: 105px;
	}
	/********CONTACT US********/
	.contact li{
		display: block;
		margin: 20px 0 0 0;
	}


}



