
/*************
FIRST SECTION
**************/

.bg-1{
/*	height: 1080px;*/
	background:linear-gradient(160deg, #f4511e 55%,#FFF 45%);
  background-attachment: fixed;
}
/*155deg*/

/******************
HEADER SECTION
**********************/

#logo-box{
  text-align: center;
  margin-top:15px; 
}

img#main-logo{
  height: 50px;
  display:block;
  margin: 0 auto;
  margin-bottom: 15px;
}
span#site-name{
  font-size:16px;
  color:#000 ;
  letter-spacing: 10px;
}


/************************
MAIN SECTION
**************************/
main{
	margin-top:110px;
}

#creat-an-event{
  margin-top: 80px;
  margin-bottom: 180px;
}

a#creatEvent,
a#creatEvent:visited{
  color:#fff !important;
  background-color:rgba(245,98,52,0.99) !important;
  padding: 10px;
  font-weight:600;
  letter-spacing:4px;
  border:2px solid #fff;
  display: inline-block;
  /*box-shadow: 0 0 0 1px #fff;*/
  
  outline:0;
  transition:all 0.3s linear;

}

a#creatEvent:hover,
a#creatEvent:active{
    color: #f4511e !important;
    background-color: #fff !important;
    transform: translate(5px,5px) !important;
    box-shadow: -8px -8px #f9a88e;
    border:2px solid #fff;

}

/***********************
APPS DOWNLOAD SECTION
***********************/

#apps-download-section{
  margin:80px 0;
}


#download-icon{
  margin-left: 10px;
  font-size:18px;
  animation: jump 1.1s linear infinite;
}

@keyframes jump{
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0px);
  }
}

#apps-download{
  margin-top: 20px;
}
#apps-download img{
  margin:10px 15px;
}

/*****************************
	FOOTER SECTION
*******************************/

ul.social-icon li{
  margin:0 5px;
  display: inline-block;
}

ul.social-icon img{
  width: 32px;
  height: 32px;
  display: block;
}

.footnote{
  padding:35px 0;
}

/***
@media screen and (min-width:768px)
{	



	/*********SOCIAL MEDIA*********/
	/*
	ul.social-icon li{
		margin:0 20px;
	}
	ul.social-icon img{
		width: 50px;
		height: 50px;
	}
	.heart{
		width: 24px;
		margin:0 30px;
	}

}

@media screen and (min-width:992px){


}



