

/*JUMBOTRON*/



/******************************************
		HEADER VIDEO
*******************************************/
/*
#bg-1{
	position: relative;
	overflow: hidden;
	height:220px;
	margin:-20px 0 25px 0;
	background:linear-gradient(170deg, #f4511e 50%, #f56234 50%);
	background-attachment:fixed;
}


#bg-2{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	text-align: center;
	padding: 15px 0;
	color: #fff;	
}

#bg-2 h1{
	font-size:16px;
}

#bg-2 p{
	font-size:12px;
}

ul#apps-list a{
	color: #fff;
	text-shadow: 0 0 0 1px #fff;
	font-size:12px;
}

@media all and (min-width: 600px){
	#bg-1{
		height: 580px;
		margin:0 0 35px 0;
	}
	#bg-2{
		padding: 130px 0;
		letter-spacing: 3px;
		line-height: 25px;
	}
	#bg-2 h1{
		font-size:34px;
		margin-bottom: 15px;
	}
	#bg-2 p{
		font-size:16px;
	}
	ul#apps-list a{
		font-size:22px;
	}
}

@media all and (min-width: 1024px){
	#bg-1{
		height: 650px;
		margin:0 0 35px 0;
	}
	#hero_video{
		width: 100%;
	}
	#bg-2{
		padding: 150px 0;
	}
}

/******************************************
			MAIN EVENT CAROUSEL
********************************************/
/*
.outer_container{
	visibility: hidden; 
	position: relative; 
	margin: 0 auto;
    top: 0px; 
    left: 0px; 
    width: 1300px; 
    height: 500px; 
    overflow: hidden;
}
.inner_container{
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 1300px; 
	height: 500px; 
	overflow: hidden;
}
.jssorb21 {
    position: absolute;
}

 /*BULLET NAVIGATION*/
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
*/
/*
.jssorb21 div,.jssorb21 .av{
	 position: absolute;
	 width: 19px;
	 height: 19px;
	 text-align: center;
	 line-height: 19px;
	 color: white;
	 font-size: 12px;
	 background: url(img/b21.png) no-repeat;
	 overflow: hidden;
	 cursor: pointer;
 }

.jssorb21 div { 
	background-position: -5px -5px; 
}
.jssorb21 div:hover, .jssorb21 .av:hover { 
	background-position: -35px -5px;
}
.jssorb21 .av { 
	background-position: -65px -5px; 
}              

/*ARROW NAVIGATION*/
    /*
.jssora21l, .jssora21r {
	display: block;
	position: absolute;

	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url(img/a21.png) center center no-repeat;
	overflow: hidden;
}
.jssora21l { 
	background-position: -3px -33px;
}
.jssora21r { 
	background-position: -63px -33px; 
}
           
/***************************
		MODAL- SIGN IN
****************************/
/*
.modal-open[style] {
   padding-right: 0px !important;
}

.modal-header{
	background-color: #f4511e;
	text-align: center;
}

.modal-header h2{
	font-size: 12px;
	color: #fff;
	letter-spacing: 4px;
}
.close{
	font-size: 20px;
}

.nav-tabs{
	margin-bottom: 15px;
}

.nav-tabs li.active{
	font-weight: bold;
}

.modal-content{
	border-radius: 0;
}

.btn-info{
	border-radius: 0;
	width: 100%;
}


/*****************************
    SIGN UP TO CREAT EVENT
*****************************/
/*
.container.bg-3{
	margin-top:25px;
	margin-bottom:15px;
}

.bg-3{
	box-shadow: 2px 3px 8px 1px #4682B4 ;
	border:1px solid #d3d3d3;
	padding:20px 10px;
}

/************************
	CONTACT US
************************/
/*
textarea{
	margin-bottom: 10px; 
}

input[type],textarea[type]{
	border-radius: 0;
	font-size: 12px;
}

.btn-primary{
	border-radius: 0;
}

ul.contact{
	margin-bottom: 25px;
}

.contact li{
	display: inline;
	margin:0 10px 0 0;
}

.btn-primary{
	width: 100%;
	margin-top: 5px;
}

/********************************************
			SOCIAL MEDIA
********************************************/
/*
.heart{
  display:inline-block;
  width: 18px;
  margin:0 2px;
  animation: pulse 1.2s ease infinite;

}
@keyframes pulse{
	0%{transform: scale(1); fill:#ff0065	;}
	50%{transform: scale(1.2);fill:	#ff0000 ;} 
	100%{transform:scale(1);fill:#ff00a9 ;}
}

ul.social-icon li{
	margin:0;
	display: inline-block;
}

ul.social-icon img{
	width: 32px;
	height: 32px;
	display: block;
}

/***************************************************
                MEDIA QUERIES
***************************************************/
/*
@media screen and (min-width:600px)
{
	/*********MODAL ***********//*
	.modal-header, .modal-body{
		padding: 25px 45px;
	}
	.nav-tabs{
		margin-bottom: 25px;
	}
	.modal-header h2{
		font-size: 16px;
	}
	.close{
		font-size: 26px;
	}

	/*CREAT EVENT- SIGN UP*//*
	.container.bg-3{
		margin-top:55px;
	}


	/********SOCIAL MEDIA*********/
	/*
	ul.social-icon img{
		width: 40px;
		height: 40px;
	}
	ul.social-icon li{
		margin:0 20px;
	}
	/*******CONTACT US **********/
	/*
	input[type],textarea[type]{
		font-size: 16px;
	}
}

@media screen and (min-width:768px)
{	

	/********SIGN UP -CREAT EVENT*********/
	/*
	.btn-info.btn-style{
		width: 120px;
		margin:25px auto;
		padding:20px 15px;
	}
	.container.bg-3{
		margin-top:75px;
	}

	/*********SOCIAL MEDIA*********/
	/*
	ul.social-icon li{
		margin:0 20px;
	}
	ul.social-icon img{
		width: 50px;
		height: 50px;
	}
	.heart{
		width: 24px;
		margin:0 30px;
	}

}

@media screen and (min-width:992px){

	/********TRENDING EVENTS ************//*
	.fluid-container.bg-4{
		margin-right: 105px;
		margin-left: 105px;
	}
	/********CONTACT US********/
	/*
	.contact li{
		display: block;
		margin: 20px 0 0 0;
	}


}



