/*****************************
SIGN-UP , SIGN-IN PAGE
******************************/

.h1-style{
	margin:15px 0;
}

.h2-style{
	margin-bottom:20px;
	font-size: 16px;
	padding: 10px 0 ;
}

.form-container{
	margin: 25px 10px;/*
	border: 1px solid black;*/ /*delete*/
	padding: 15px;
	background-color: #fdede8;
}

.btn{
	background-color: #f4511e;
	color: #fff;
	text-transform: uppercase;
	border-radius:25px; 
	width: 50%;
	display: block;
	margin:0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

input{
	width: 100%;
	margin:0 0 25px 0;
	padding:5px 0;
	border: 0;
	border-bottom: 1px solid #fff;
	font-size: 12px;
	color:#656565;
}

input[type=checkbox]{
	width: 10%;
	outline: none;
}
input:focus{
	outline: none;
	border-bottom: 1px solid #f4511e;
}

label{
	font-size: 12px;
	color: 	#656565;	
	margin-bottom: 5px;
}

/***************************************************
                MEDIA QUERIES
***************************************************/

@media screen and (min-width: 768px){

	.h1-style{
	margin:25px 0 35px;
	}

	.h2-style{
	margin-bottom:30px;
	font-size: 18px;
	letter-spacing:2px;
	}

	.form-container{
	margin: 40px 0;
	padding: 25px 50px;
	}

	input{
	margin:0 0 35px 0;
	padding:10px 0 5px;
	font-size: 14px;
	}

	label{
	font-size: 14px;	
	margin-bottom: 10px;
	}

	.btn{
		width: 100%;
	}
}

